---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SUBTITLE, SITE_DESCRIPTION, yelp } from "../consts";

import { Image } from "astro:assets";
import Popular from "../components/Popular.astro";

const revOne =
  "Grant Cohn posted a video of him eating here. I had to check it out. I had a carnitas torta ahogada.";
const revTwo =
  "Delicious tortas ahogadas! Fast service. Very clean place. This was my second time. I will come again!";
const revTres =
  "Tuve unos tacos dorados de carnitas con papa, realmente la disfruté. ¡Qué delicia!";
const revCuatro =
  "Muy muy buenas las tortas y me imagino que todo lo demás también. 100% recomendado!";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <!-- IMG: Banner Section Content -->

    <div class="banner-image">
      <img src="bgimg.jpeg" alt="Background Image" />
      <div class="banner-overlay"></div>
      <div class="banner-text">
        <h1>{SITE_TITLE}</h1>
        <p>{SUBTITLE}</p>
      </div>
    </div>

    <main>
      <!-- Menu Slideshow Section -->
      <section>
        <div>
          <!-- Slide: 2x-seconds</p> -->

          <div class="slideshow-container">
            <div class="mySlides fade">
              <img src="tortados.jpeg" style="width: 100%;" />

              <!-- <div class="text">TORTAS AHOGADAS</div> -->
            </div>

            <div class="mySlides fade">
              <img src="image7.jpeg" style="width:100%" />

              <!-- <div class="text">Tacos De Papa Con Buche</div> -->
            </div>

            <div class="mySlides fade">
              <img src="trestacos.jpeg" style="width:100%" />
            </div>
          </div>

          <!-- Slides Buttons</p> -->

          <div style="text-align:center">
            <span class="dot"></span>

            <span class="dot"></span>

            <span class="dot"></span>
          </div>
        </div>
      </section>
      <section>
        <h2>CUSTOMER LOVE US</h2>
        <div class="title-underline"></div>
        <div class="container" role="list">
          <article
            class="card"
            role="listitem"
            tabindex="0"
            aria-label="Review by Alice"
          >
            <div class="reviewer-name">Fred</div>
            <p class="review-text">{revOne}</p>
            <div class="rating" aria-label="4 out of 5 stars">★★★★☆</div>
          </article>
          <article
            class="card"
            role="listitem"
            tabindex="0"
            aria-label="Review by Jason Lee"
          >
            <div class="reviewer-name">Pia</div>
            <p class="review-text">{revTwo}</p>
            <div class="rating" aria-label="5 out of 5 stars">★★★★★</div>
          </article>
          <article
            class="card"
            role="listitem"
            tabindex="0"
            aria-label="Review by Maria Gonzalez"
          >
            <div class="reviewer-name">Mariana</div>
            <p class="review-text">{revTres}</p>
            <div class="rating" aria-label="3 out of 5 stars">★★★☆☆</div>
          </article>
          <article
            class="card"
            role="listitem"
            tabindex="0"
            aria-label="Review by Maria Gonzalez"
          >
            <div class="reviewer-name">Miguel</div>
            <p class="review-text">{revCuatro}</p>
            <div class="rating" aria-label="3 out of 5 stars">★★★☆☆</div>
          </article>
        </div>
        <div class="view-more-button">
          <button class="btn" type="button" onclick={`location.href='${yelp}'`}
            >CHECKOUT MORE REVIEWS</button
          >

          <!-- <a href="https://www.yelp.com/biz/tortas-ahogadas-mi-barrio-oakland" class="button">VIEW MORE REVIEWS</a> -->
        </div>
      </section>

      <section>
        <Popular />
      </section>
    </main>
    <!-- Footer Component-->
    <Footer />
    <style></style>
    <script>
      import "../scripts/slider.js";
    </script>
  </body>
</html>
